#rock{
    background-color: blueviolet;
    text-decoration-color: aqua;
    box-sizing: border-box;
    
}
#scissor{
    background-color: blueviolet;
    text-decoration-color: aqua;
    box-sizing: border-box;
}
#paper{
    background-color: blueviolet;
    text-decoration-color: aqua;
    box-sizing: border-box;
}